@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #2b93c3;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #050505;
    --foreground: #f6f7f8;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.btn{
  color: #f3ebeb;
  background-color: rgb(9, 9, 9);
  border: 1px solid beige;  

}
.main ul li{
  color: rgb(251, 249, 249);
  margin-top: 10px;
  border: 1px solid beige;  
  padding: 10px;
}
.content {
  display: flex;
  justify-content: center;
  
}
.main input,.btn {
  margin-top: 50px;
}
.heading{
  background-color: #050505;

}
.main {
  background-color: #050505;

  }
.h1{
  border: 1px solid beige;  
  text-align: center;
  
}
.body{

}